/* Config for small screens - DONE*/
@media only screen and (min-width:320px) {
    body {
        min-height: 95vh;
        background:linear-gradient(25deg,#2B0A93, #22276E);
        padding-top: 3%;
        padding-left: 8%;
        padding-right: 8%;
        background-repeat: no-repeat;
        color: #ebeded;
        text-align:center;
    }
    h1 {
        font-size:2em;
    }
    h2 {
        font-size:1.7em;
    }
    #idate {
        text-align:center;
        font-size:1.4em;
    }
    #inumber {
        text-align:right;
        font-size:1em;
        width: 20vw
    }
    #isubmit {
        font-size: 1.3em;
        height: 5.5vh;
        width: 40vw;
        text-align:center;
    }
    p {
        font-size: 2.3em;
        color: orange;
        text-align: center;
        line-height:8vh;
    }
    .brnodisplay {
        display: none;
    }
}

/* Config for small devices and most mobile phones*/
@media screen and (min-width:480px) {
    body {
        min-height: 94vh;
        background:linear-gradient(25deg, #4B4E53, #000000);
        padding-top: 3%;
        padding-left: 8%;
        padding-right: 8%;
        background-repeat: no-repeat;
        color: #ebeded;
        text-align:center;
    }
    h1 {
        font-size:2em;
    }
    h2 {
        font-size:1.5em;
    }
    #idate {
        text-align:center;
        font-size:1.3em;
    }
    #inumber {
        text-align:right;
        font-size:1.3em;
        width: 20vw
    }
    #isubmit {
        font-size: 1.2em;
        height: 5.5vh;
        width: 30vw;
        text-align:center;
    }
    p {
        font-size: 1.6em;
        color: orange;
        text-align: center;
        line-height:6vh;
    }
    .brnodisplay {
        display: none;
    }
}

/* Config for tablets*/
@media screen and (min-width:768px) {
    body {
        min-height: 93vh;
        background:linear-gradient(25deg, #4B4E53, #000000);
        padding-top: 3%;
        padding-left: 8%;
        padding-right: 8%;
        background-repeat: no-repeat;
        color: #ebeded;
        text-align:center;
    }
    h1 {
        font-size:2em;
    }
    h2 {
        font-size:1.5em;
    }
    #idate {
        text-align:center;
        font-size:1.3em;
    }
    #inumber {
        text-align:right;
        font-size:1.3em;
        width: 20vw
    }
    #isubmit {
        font-size: 1.2em;
        height: 5.5vh;
        width: 30vw;
        text-align:center;
    }
    p {
        font-size: 1.6em;
        color: orange;
        text-align: center;
        line-height:6vh;
    }
    .brnodisplay {
        display: none;
    }
}

/* Config for small desktops*/
@media screen and (min-width:992px) {
    body {
        min-height: 92vh;
        background:linear-gradient(25deg, #4B4E53, #000000);
        background-repeat: no-repeat;
        color: #ebeded;
        text-align:center;
    }
    h1 {
        font-size:2.5em;
    }
    h2 {
        font-size:1.6em;
    }
    #idate {
        text-align:center;
    }
    #inumber {
        text-align:right;
        width: 10vw;
    }
    #isubmit {
        font-size: 1.2em;
        height: 4.5vh;
        width: 20vw;
        text-align:center;
    }
    p {
        font-size:1.6em;
        color: orange;
        text-align: center;
        line-height:4vh;
    }
}

/* Config for large devices and wide screens*/
@media screen and (min-width:1200px) {
    body {
        min-height: 100vh;
        background:linear-gradient(25deg, #4B4E53, #000000);
        background-repeat: no-repeat;
        color: #ebeded;
        text-align:center;
    }
    h1 {
        font-size:2.5em;
    }
    h2 {
        font-size:2.1em;
    }
    #idate {
        text-align:center;
    }
    #inumber {
        text-align:center;
    }
    #isubmit {
        font-size: 1.2em;
        height: 4.5vh;
        width: 20vw;
        text-align:center;
    }
    p {
        font-size: 2.3em;
        color: orange;
        text-align: center;
        line-height:4vh;
    }
}

/* Config for large devices and wide screens - My PC included*/
@media screen and (min-width:1366px) {
    body {
        min-height: 93vh;
        background:linear-gradient(25deg, #4B4E53, #000000);
        padding-top: 2%;
        background-repeat: no-repeat;
        color: #ebeded;
        text-align:center;
    }
    h1 {
        font-size:2em;
    }
    h2 {
        font-size:1.3em;
    }
    #idate {
        font-size: 1.3em;
        text-align:center;
    }
    #inumber {
        font-size: 1.2em;
        text-align:center;
        width: 6vw;
    }
    #isubmit {
        font-size: 1em;
        height: 5vh;
        width: 12vw;
        text-align:center;
    }
    p {
        font-size: 1.4em;
        color: orange;
        text-align: center;
        line-height:8vh;
    }
}
